---
import Container from "../components/Container.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/a413ea44fb.js"
			crossorigin="anonymous"
		></script>
		<title>Astro</title>
		<style>
			:root {
				--Violet: hsl(257, 40%, 49%);
				--soft-magenta: hsl(300, 69%, 71%);
				--Popins: "Poppins", sans-serif;
				--OpenSans: "Open Sans", sans-serif;
			}
			body {
				background-color: var(--Violet);
			}
		</style>
	</head>
	<body>
		<Container />
	</body>
</html>
