<style>
  .container {
    background: url("/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .cta__register {
    color: var(--Violet);
  }
  @media (min-width: 1024px) {
    .container {
      background: url("/bg-desktop.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
</style>

<section
  class="container w-screen h-screen flex flex-col justify-around lg:m-auto lg:block lg:p-10"
>
  <header>
    <img class="w-5/12 ml-9 lg:w-3/12" src="logo.svg" alt="logo" />
  </header>

  <div class="lg:grid lg:grid-cols-2 lg:gap-10 lg:relative lg:mt-32">
    <main>
      <img
        class="w-10/12 m-auto lg:w-full"
        src="illustration-mockups.svg"
        alt="illustration"
      />
    </main>
    <div class="lg:flex lg:flex-col lg:gap-5">
      <section
        class="text-center font-semibold text-4xl text-white lg:font-bold lg:text-left lg:flex lg:flex-col lg:gap-3 lg:text-5xl"
      >
        <h1>Build The Community</h1>
        <h2>Your Fans Will Love</h2>
      </section>
      <article class="flex flex-col gap-7">
        <p class="text-white text-center w-8/12 m-auto lg:text-left lg:m-0 lg:text-lg">
          Huddle re-imagines the way we build comminities. You have a voice, but
          so does tou audience. Create connections with your users as you engage
          in geniuine discussion.
        </p>
        <a
          href="#"
          class="cta__register bg-white block m-auto w-max p-3 px-20 rounded-full font-semibold shadow-2x lg:m-0"
          >Register</a
        >
      </article>
    </div>
    <footer
      class="text-white flex justify-center gap-4 lg:absolute lg:bottom-0 lg:right-0"
    >
      <i
        class="fa fa-facebook border-2 p-2 rounded-full w-10 h-10 flex justify-center items-center text-xl"
      ></i>
      <i
        class="fa fa-twitter border-2 p-2 rounded-full w-10 h-10 flex justify-center items-center text-xl"
      ></i>
      <i
        class="fa fa-instagram border-2 p-2 rounded-full w-10 h-10 flex justify-center items-center text-xl"
      ></i>
    </footer>
  </div>
</section>
