<style>
  .container {
    background: url("/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--Violet);
  }
  .cta__register {
    color: var(--Violet);
  }

</style>

<section class="container w-screen h-screen flex flex-col justify-around">
  <header>
    <img class="w-5/12 ml-9" src="logo.svg" alt="logo" />
  </header>
  <div class="">
    <main>
      <img
        class="w-10/12 m-auto"
        src="illustration-mockups.svg"
        alt="illustration"
      />
    </main>
    <div class="">
      <section class="text-center font-semibold text-4xl text-white">
        <h1>Build The Community</h1>
        <h2>Your Fans Will Love</h2>
      </section>
      <article class="flex flex-col gap-7">
        <p class="text-white text-center w-8/12 m-auto">
          Huddle re-imagines the way we build comminities. You have a voice, but
          so does tou audience. Create connections with your users as you engage
          in geniuine discussion.
        </p>
        <a
          href="#"
          class="cta__register bg-white block m-auto w-max p-3 px-20 rounded-full font-semibold shadow-2xl"
          >Register</a
        >
      </article>
      <footer class="text-white flex justify-center gap-4">
        <i
          class="fa fa-facebook border-2 p-2 rounded-full w-10 h-10 flex justify-center items-center text-xl"
        ></i>
        <i
          class="fa fa-twitter border-2 p-2 rounded-full w-10 h-10 flex justify-center items-center text-xl"
        ></i>
        <i
          class="fa fa-instagram border-2 p-2 rounded-full w-10 h-10 flex justify-center items-center text-xl"
        ></i>
      </footer>
    </div>
  </div>
</section>
